<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Cat-Dog Classifier</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


  
<style>
  ::placeholder {
    color:rgb(13, 13, 14);
    opacity:0.8; /* Firefox */
    font-weight: bold;
  }
  </style>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if ((ext == 'jpg') || (ext == 'png'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

</script>

</head>
<body style="background-image: url('../static/bg_img.gif'); 
background-repeat:no-repeat;
background-size:cover;
">
<marquee direction="left" style="color:deepskyblue;font-size: 1.5rem;"><h3>Cat-Dog Classifier</h3></marquee>

<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
  <h1 style="color:blue;font-family:sans-sarif;text-align: center;font-size: 50px;color: deepskyblue;background: radial-gradient(black, transparent);"> Upload Image To Classify Cat & Dog </h1>
<div class="login card" style="color: orangered;margin-left:-220px;">
  <pre>
  <!--
  <h1 style="width: fit-content;color: blue;">Upload Image To Classify<br> Fruit</h1> -->
 
  
  <strong style="color: deepskyblue;font-size: 2rem;">Choose Image:</strong>
  <input class="btn btn-primary btn-block btn-large" type="file" name="file" accept="image/*" multiple>
  <input type="submit" value="Predict!" class="btn btn-primary btn-block btn-large">
  </pre>
</div>
</form>

</body>
</html>
